* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #2e2e31;
    list-style: none;
    text-decoration: none;
}
/* seccion barra navegacion */
header {
    background-color: #fff;
    padding: 25px 220px;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 80%;
}
.nav-item {
    margin: 0px 8px;
    text-transform: uppercase;
}
.nav-link {
    padding: 8px 8px;
    border-radius: 30px;
}
.nav-link:hover {
    color: #E2218A;
    transition-property: all;
    transition-duration: 0.5s;
}
.nav-link:focus {
    box-shadow: 0px 0px 10px #E2218A;
    outline: 0;

} 
.nav-item-selec {
    color: #fff;
    background-color: #E2218A;
    border-radius: 30px;
    padding: 8px 20px;
    margin-left: 16px;
    text-transform: uppercase;
}
.nav-item-selec:hover, .button:hover, .contact-btn:hover {
    background-color: #f644a6;
    transition-property: all;
    transition-duration: 1s;
}
/* seccion about */
.container-about {
    margin: 220px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}
.name {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}
.about-name {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: 900;
    color: #E2218A;
}
.about-description {
    color: #616161;
    font-size: 16px;
    margin-bottom: 40px;
}
.button {
    background-color: #E2218A;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
}
.about-img {
    max-width: 700px;
    width: 100%;
}
/* seccion skills */
.skills-container {
    display: flex;
    flex-direction: column;
    background-color: #f6f7fb;
    justify-content: center;
    text-align: center;
    padding: 80px 0px;
}
.skills-h2  {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 30px;
}
.skills-p , .projects-p{
    max-width: 600px;
    margin: 0 auto;
}
.skills-containerimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 70%;
    margin-top: 40px;

}
.skills-item {
    color: #2e2e31;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 50px 30px;
}
.skills-item:hover figcaption, .skills-item:hover{
    transition-property: all;
    transition-duration: 0.2s;
    border-color: #E2218A;
    color: #E2218A;
}
.skills-figcaption {
    font-size: 20px;
    font-weight: 700; 
    margin-top: 20px;
}
.img-icon {
    width: 100px;
    height: auto;
}
/* seccion quote */
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E2218A;
    height: 400px;
}
.quote-container p, i , h3 {
    color: #fff;
    padding: 20px 0;
}
.quote-container i {
    font-size: 110px;
}
.quote-container p {
    font-size: 20px;
    width: 60%;
    text-align: center;
}
.quote-container h3 {
    font-size: 28px;
    font-weight: 700;
}
/* Seccion mis proyectos */
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #ffffff;
}
.projects-title h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    padding: 70px 0 20px 0;
}
.projects-container-img {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
    align-self: center;
    margin: 0 auto;
    padding-top: 40px;
}
.project-link {
    width: 40%;
}
.project-figure {
    transition-duration: 1s;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 240px;
    height: 260px;
    padding: 20px 22px;
    margin: 15px 0px;
}

.project-figure:hover figcaption, .project-figure:hover {
    transition-property: all;
    transition-duration: 0.2s;
    border-color: #E2218A;
    color: #E2218A;
}

.project-img {
    width: 200px;
    height: 180px;
}
.project-figure figcaption {
    font-weight: 600;
    margin-top: 12px;
    text-align: center;
}
/* Seccion contacto */
/* ### CONTACT SECTION ### */
.contact-container{
    background-color: #f6f7fb;
    padding: 100px 0px;
    margin-top: 40px;
}
.contact-section {
    padding: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}

.contact-info {
    padding-right: 20px;
    width: 50%;
}

.contact-title {
    text-align: start;
    font-size: 45px;
    font-weight: 700;
}

.description-contact {
    color: var(--text-grey);
    max-width: 400px;
    line-height: 1.4;
    margin: 20px 0;
}

/* ### SOCIAL MEDIA CONTACT BOX ### */

.contact-box {
   padding: 15px 0;
   width: 50%;
}

.ul-contact {
    list-style-type: none;
}

.menu-contact-item {
    margin: 10px 0;
}

.menu-contact-link {
    display: flex;
    align-items: center;
    padding: 5px 7px;
    border-radius: 100px;
    max-width: fit-content;
    font-weight: 500;
    border: 1px solid #fff;
    font-size: 1rem;
}

.menu-contact-link:hover { 
    color: #E2218A;
    transition-property: all;
    transition-duration: 0.4s;
}
.contact-icon {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #E2218A;
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
}

.menu-contact-link:hover .contact-icon { 
    background-color: #E2218A;
    color: #fff;
    transition-property: all;
    transition-duration: 0.4s;
}


/* FORM */

.form-container {
    width: 50%;
}

.box-namelastname {
    margin-top: 20px;
    display: flex;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 100%;
    display: flex;
    margin-right: 40px;
}


label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

input, textarea {
    font-size: 1rem;
    border-radius: 25px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    padding: 10px 15px;
    width: 100%;
    font-weight: 500;
}

input::placeholder {
    font-size: .9rem;
}

textarea::placeholder {
    font-family: 'Roboto Mono', monospace;
    font-size: .8rem;
}

input:focus, textarea:focus {
    box-shadow: 0px 0px 10px #E2218A;
    outline: none;
}

.contact-btn {
    background-color: #E2218A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 40px;
    border: 1px solid #E2218A;
    border-radius: 100px;
    font-weight: 500;
    font-size: 1.1rem;
}







/* Seccion footer */
.footer-container {
    background-color: #E2218A;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.footer-nav {
    display: flex;
}
.footer-nav-item {
    margin: 0 10px;
} 
.footer-link {
    color: #fff;
}
.social-menu {
    display: flex;
    margin: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.social-li {
    list-style-type: none;
    margin: 9px;
}
.social-icon {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #E2218A;
    border-radius: 50px;
    font-size: 1.1rem;
    padding: .8rem;
}
.social-icon:hover {
    background-color: transparent;
    color: #ffffff;
}
.social-icon:active {
    background-color: transparent;
    color: #ffffff;
    box-shadow: 0px 0px 10px #ffffff;}
.text-footer {
    color: #fff;
    font-size: 14px;
}